<launch>
  <arg name="model" default="$(find fridge_bot)/src/urdf/fridge_bot.urdf "/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$$(find fridge_bot)/src/world/fridge_bot_world.world"/>
    <arg name="paused" value="false"/>
  </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find fridge_bot)/src/urdf/fridge_bot.urdf -z 1 -R -1.57 -P 0 -Y 0  -urdf -model fridge_bot"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>

